<ion-header>
  <ion-navbar>
    <ion-title  text-center  >Inicio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!--
  <button ion-button full icon-left  color="danger"  (click)="scancode()">
    <ion-icon name="qr-scanner"></ion-icon>Scan Codigo
  </button>
 
  <div *ngIf="scannedcode">
    <img src="assets/imgs/logo.png">
  </div>

  <ion-card *ngIf="scannedcode">
    <ion-card-content>
      <h1 text-center>
        {{ scannedcode }}
      </h1>
    </ion-card-content>
  </ion-card>
-->




  <button ion-button block (click)="cerrarSesion()">Cerrar Sesión</button>




</ion-content>
