<ion-header>
  <ion-navbar>
    <ion-title  text-center  >Inicio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<img src="assets/imgs/icon_app_home.png" height="40%" padding-left margin >



<p text-justify >
  Esta es una aplicacion para explorar el lugar en el que vives.
  Visita los lugares mas importantes que forman parte de tu ciudad
  Aprende sobre tu ciudad y hazla parte de ti de una forma interactiva
</p>

<p>
  Explora es la app que te ayudara
</p>



  <ion-item text-center   >
    QR DATA
  </ion-item>


  <button ion-button full icon-left  color="danger"  (click)="scancode()">
    <ion-icon name="qr-scanner"></ion-icon>Scan Codigo
  </button>
 
  <div *ngIf="scannedcode">
    <img src="assets/imgs/logo.png">
  </div>

  <ion-card *ngIf="scannedcode">
    <ion-card-content>
      <h1 text-center>
        {{ scannedcode }}
      </h1>
    </ion-card-content>
  </ion-card>


<br>
<br>


<div center >

  <button ion-button (click)="alerta()"  >Click</button>
</div>



  
</ion-content>
